.helper_spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #999999; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;

    &__large {
        border-width: 16px;

        width: 120px;
        height: 120px;
    }

    &__small {
        border-width: 6px;

        width: 40px;
        height: 40px;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
