.loader {
  width: 64px;
  height: 64px;
}
.loader :after {
  width: 46px;
  height: 46px;
}

.loader-sm {
  width: 24px;
  height: 24px;
}
.loader-sm :after {
  width: 6px;
  height: 6px;
}

.loader, .loader-sm {
  display: inline-block;
}
.loader :after, .loader-sm :after {
  content: " ";
  display: block;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=index.css.map */
