.chat-bubble-component {
  padding: 0 20px;
  .bubble {
    position: relative;
    margin: 10px;
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      width: 0;
      height: 0;
      border: 17px solid transparent;
      border-bottom: 0;
      margin-top: -8.5px;
    }
    &.left {
      display: flex;
      flex-direction: column;
      &:after {
        left: 0;
        border-right-color: #a6ffa8;
        border-left: 0;
        margin-left: -17px;
      }
    }
    &.right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      &:after {
        right: 0;
        border-left-color: #a6ffa8;
        border-right: 0;
        margin-right: -17px;
      }
    }
    .bubble-content {
      display: flex;
      flex-direction: column;
      background: #a6ffa8;
      color: #999999;
      border-radius: .4em;
      width: 60%;
      padding: 10px;
      box-shadow: 0 5px 15px #006da1;
    }
    .username {
      font-size: 10px;
      color: #777;
      padding: 3px;
    }
    .message {
      font-size: 14px;
      color: #444;
      padding: 3px;
    }
    .time {
      text-align: end;
      color: green;
      font-size: 10px;
    }
  }
}
